:host{
  max-width: 986px;
  width: 100%;
}
.sl-main-container{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  border-radius: 10px;
  padding-bottom: 40px;
  align-self: stretch;
  gap: 20px;
}

.sl-label {
  font-family: Inter, sans-serif;
  padding-left: 40px;
  padding-right: 40px;
}

.font-20 {
  font-size: 24px;
}

.font-16 {
  font-size: 16px;
}

.sl-top-bar {
  height: 45px;
  align-self: stretch;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}


