.main-container-survey-item {
  border-radius: 10px;
  max-width: 100%;
  padding: 30px;
  display: flex;
  flex-direction: column;
}

.top-container {
  display: inherit;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.buttons-container {
  display: inherit;
  justify-content: center;
  align-items: inherit;
  gap: 23px;
}

#question-view-value,
.bottom-button {
  font-family: Inter;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
}

.buttons-container {
  display: inherit;
  justify-content: flex-end;
  gap: 1.125em;
}

.bottom-button {
  padding: 11.72px 46px;
  border-radius: 10px;
}

#question-content {
  width: 100%;
  margin-bottom: 31.96px;
}

.switch {
  margin-top: 8px;
}
