<div class="main-container-survey-item" [style]="style">
  <div class="top-container">
    <span id="question-view-value">{{questionType.viewValue}}</span>
    <div class="buttons-container">
      <button mat-icon-button matTooltip="Dodaj sekcję">
        <mat-icon>add_circle_outline</mat-icon>
      </button>
      <button mat-icon-button matTooltip="Podgląd pytania">
        <mat-icon>remove_red_eye</mat-icon>
      </button>
    </div>
  </div>
  <div class="content-container">
    <span *ngIf="questionType.value==='list'">{{questionType.value}}</span>
    <span *ngIf="questionType.value==='grid'">{{questionType.value}}</span>
    <span *ngIf="questionType.value==='open'">{{questionType.value}}</span>
    <span *ngIf="questionType.value==='closed'">{{questionType.value}}</span>
    <span *ngIf="questionType.value==='scale'">{{questionType.value}}</span>
  </div>
  <div class="buttons-container">
    <button mat-flat-button color="primary" class="bottom-button" (click)="onAddClick()">Dodaj</button>
    <button mat-flat-button color="accent" class="bottom-button" (click)="onCancelClick()">Anuluj</button>
  </div>
</div>
