.main-container {
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
  padding-bottom: 100px;
}

.left-container,
.right-container {
  display: inherit;
  flex-direction: column;
  align-items: start;
}

.left-input {
  width: 890px;
}

.left-container {
  justify-content: flex-start;
}

.right-container {
  justify-content: flex-end;
  margin-left: 71px;
}

.label {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  margin-bottom: 9px;
}

.switch{
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
}

.survey-name {
  margin-bottom: 44px;
}

.description {
  margin-bottom: 83.96px;
}

.greeting {
  margin-bottom: 89.96px;
}
