<div class="main-container">
  <div class="left-container">
    <input type="text" placeholder="Nazwa ankiety" class="left-input">
    <input type="text" placeholder="Opis ankiety" class="left-input">
    <textarea placeholder="Powitanie" class="left-input"></textarea>
    <textarea placeholder="Pożegnanie" class="left-input"></textarea>
  </div>
  <div class="right-container">
    <mat-slide-toggle color="primary">Ankieta anonimowa</mat-slide-toggle>
    <span class="date-label">Data rozpoczęcia ankiety</span>
    <input type="datetime-local">
    <span class="date-label">Data zakończenia ankiety</span>
    <input type="datetime-local">
  </div>
</div>
