<app-survey-item
  *ngFor="let v of this.questionsState.getQuestionsArray().controls; let i = index"
  [itemType]="this.questionsState.getQuestionTypeAt(i)"
  [index]="i"
  style="margin-bottom: 1.25em"
>
</app-survey-item>
<app-dropdown
  placeholder="Nowe pytanie"
  style="width: 100%; margin-bottom: 1.25em"
  [items]="questionItems"
  [resetOption]="true"
  [control]="newItemType"
>
</app-dropdown>
<app-survey-item
  *ngIf="newItemType.value"
  [itemType]="newItemType.value"
  (complete)="onItemComplete()"
  style="margin-bottom: 1.25em"
>
</app-survey-item>
