<ng-container *ngFor="let item of itemsState.getItems().controls; let i = index">
  <ng-container *ngIf="sectionsState.isSectionLeader(itemsState.getItemId(i))">
    <app-section [form]="sectionsState.getSection(itemsState.getItemId(i))"></app-section>
  </ng-container>
  <app-survey-item [itemType]="this.itemsState.getItem(i).value.type" [index]="i" style="margin-bottom: 1.25em">
  </app-survey-item>
</ng-container>
<app-dropdown
  placeholder="Nowe pytanie"
  style="width: 100%; margin-bottom: 1.25em"
  [items]="questionItems"
  [resetOption]="true"
  [control]="newItemType"
>
</app-dropdown>
<app-survey-item
  *ngIf="newItemType.value"
  [itemType]="newItemType.value"
  (complete)="onItemComplete()"
  style="margin-bottom: 1.25em"
>
</app-survey-item>
