<nav>
  <div class="main-container">
    <div>
      <span id="app-name" routerLink="">Ankieter</span>
    </div>
    <div>
      <button
        mat-button
        [matMenuTriggerFor]="surveys"
        class="menu-button"
        type="button"
        routerLinkActive="menu-item-active"
        [ngClass]="{'menu-button-active':getUrl().includes('surveys')}"
      >
        Ankiety
      </button>
      <mat-menu #surveys="matMenu">
        <button
          mat-menu-item
          routerLink="surveys/create"
          type="button"
          class="menu-item"
          routerLinkActive="menu-item-active"
        >
          Utwórz
        </button>
        <button
          mat-menu-item
          routerLink="surveys/browse"
          type="button"
          class="menu-item"
          routerLinkActive="menu-item-active"
        >
          Przeglądaj
        </button>
        <button mat-menu-item type="button" class="menu-item">Wyślij</button>
        <button mat-menu-item type="button" class="menu-item">Wyniki</button>
      </mat-menu>
    </div>
    <div>
      <button mat-button [matMenuTriggerFor]="contacts" class="menu-button" type="button">Kontakty</button>
      <mat-menu #contacts="matMenu">
        <button mat-menu-item type="button" class="menu-item">Kontakty 1</button>
        <button mat-menu-item type="button" class="menu-item">Kontakty 2</button>
        <button mat-menu-item type="button" class="menu-item">Kontakty 3</button>
      </mat-menu>
    </div>
    <div id="user-info-container">
      <span id="user-name">Jan Kowalski</span>
      <button mat-icon-button matTooltip="Ustawienia" matTooltipPosition="below" color="accent">
        <mat-icon>settings</mat-icon>
      </button>
      <button mat-icon-button matTooltip="Wyloguj" matTooltipPosition="below" color="primary">
        <mat-icon>logout</mat-icon>
      </button>
      
    </div>
  </div>
</nav>
