<nav>
  <div class="main-container">
    <div>
      <span id="app-name" routerLink="">Ankieter</span>
    </div>
    <div>
      <button 
        mat-button
        routerLink="surveys/create"
        type="button"
        class="menu-button">Utwórz</button>
    </div>
    <div>
      <button
        mat-button
          routerLink="surveys/browse"
          type="button"
          class="menu-button">Przeglądaj
        </button>
    </div>
    <div>
      <button
          mat-button
          routerLink="surveys/send"
          type="button"
          class="menu-button"> Wyślij
        </button>
    </div>
    <div id="user-info-container">
      <span id="user-name">Jan Kowalski</span>
      <button mat-icon-button matTooltip="Kontakty" matTooltipPosition="below">
        <mat-icon>contacts</mat-icon>
      </button>
      <button mat-icon-button matTooltip="Ustawienia" matTooltipPosition="below">
        <mat-icon>settings</mat-icon>
      </button>
      <button mat-icon-button matTooltip="Wyloguj" matTooltipPosition="below">
        <mat-icon>logout</mat-icon>
      </button>
    </div>
  </div>
</nav>
