<div class="main-container">
  <span class="header">Wysyłanie zaproszenia do ankiety</span>
  <div class="select-container">
    <span class="label-top">Wyślij ankietę</span>
    <app-dropdown
      style="max-width: 600px; width: 100%"
      [items]="items"
      [resetOption]="true"
      placeholder="Wybierz ankietę"
      [control]="$any(sendForm.controls['surveyId'])"
    >
    </app-dropdown>
    <span class="label-top">do:</span>
  </div>
  <div class="input-container">
    <app-input
      [control]="sendForm.controls.recipient"
      placeholder="Wprowadź adres email odbiorcy"
      style="max-width: 65%; width: 100%"
      errorMessage="Nieprawidłowy format adresu"
    >
    </app-input>
    <button
      mat-flat-button color="primary"
      [disabled]="sendForm.controls.recipient.invalid"
      class="button"
      (click)="onAddClick()"
    >
      Dodaj odbiorcę
    </button>
  </div>
</div>
