<div id="main-container">
  <div id="container">
    <div class="column-container">
      <span class="label">wiersze</span>
      <div *ngFor="let question of itemForm.controls.questions.controls" class="input-container">
        <input type="text" [formControl]="$any(question)" placeholder="Wprowadź treść pytania" class="input">
        <button mat-icon-button matTooltip="Usuń pytanie" matTooltipPosition="below">
          <mat-icon>delete</mat-icon>
        </button>
      </div>
      <button mat-flat-button color="primary">Dodaj wiersz</button>
    </div>
    <div class="column-container">
      <span class="label">kolumny</span>
      <div *ngFor="let option of itemForm.controls.options.controls; let i = index" class="input-container">
        <input type="text" placeholder="Wprowadź treść opcji" [formControl]="$any(option)" class="input">
        <button mat-icon-button matTooltip="Usuń opcję" matTooltipPosition="below" (click)="deleteOption(i)">
          <mat-icon>delete</mat-icon>
        </button>
      </div>
      <button mat-flat-button color="primary" (click)="addOption()">Dodaj kolumnę</button>
    </div>
  </div>
  <mat-slide-toggle
    color="primary"
    [checked]="itemForm.value.type==='gridMultiple'"
    (change)="onMultipleChange()"
  >
    Pytanie wielokrotnego wyboru
  </mat-slide-toggle>
</div>
