#main-container {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 88px;
}

#left-container,
#right-container {
  display: inherit;
  flex-direction: column;
  align-items: flex-start;
  justify-content: inherit;
  max-width: 50%;
  width: 100%;
}

#right-container {
  padding-top: 1em;
}
