@use "sass:map";
@use "@angular/material" as mat;

@mixin color($theme){
  $color-config: mat.get-color-config($theme);

  .cg-divider {
    background-color: mat.get-color-from-palette(map.get($color-config, 'primary'));
  }
}

@mixin theme($theme){
  $color-config: mat.get-color-config($theme);
  @if $color-config != null {
    @include color($theme);
  }
}
