<div id="main-container">
  <ng-container *ngIf="!(paused||expired)">
    <span class="primary weight-300 title">{{state.getTitle()}}</span>
    <span class="primary weight-300 greeting">{{state.getGreeting()}}</span>
  </ng-container>
  <ng-container *ngIf="paused">
    <span class="primary weight-300 title">Ankieta wstrzymana.</span>
    <span class="accent weight-700 greeting">Spróbuj ponownie później.</span>
  </ng-container>
  <ng-container *ngIf="expired">
    <span class="primary weight-300 title">Ankieta zakończona</span>
  </ng-container>
  <div id="divider" class="radius-10"></div>
  <ng-container *ngIf="!(paused||expired)">
    <button mat-flat-button color="primary" id="button" class="radius-10" type="button" (click)="onBeginClick()">
      Rozpocznij
    </button>
  </ng-container>
</div>
