<div class="info-container">
    <div> Kliknij <span
        mat-button
        color="primary"
        routerLink="surveys/create"
        class="home-button"
        color="primary">Utwórz</span>, aby utworzyć ankietę
    </div>
    <div> Kliknij <span 
        mat-flat-button
        color="primary"
        routerLink="surveys/browse"
        class="home-button"
        color="primary">Przeglądaj</span>, aby przeglądać utworzone ankiety
    </div>
    <div> Kliknij <span
        mat-flat-button
        color="accent"
        routerLink="surveys/send"
        class="home-button"
        color="primary">Wyślij</span>, aby wysłać ankiety do ankietowanych
    </div>
</div>
