
.home-button {
  font-size: 30px;
  font-weight: 800;
  cursor: pointer;
  
}

.info-container {
  padding-left: 300px;
  padding-top: 200px;
  padding-bottom: 200px;
  font-size: 30px;
  font-family: Inter;
}


