$custom-blue: (
  50: #e2f2ff,
  100: #badeff,
  200: #8dcaff,
  300: #5ab5ff,
  400: #2fa5ff,
  500: #0095ff,
  600: #0586ff,
  700: #1373eb,
  800: #1862d8,
  900: #1d41b9,
  contrast: (
    600: rgba(255,255,255, 0.87)
  )
);

$custom-gray: (
  50: #f1f1f1,
  100: #d8dddf,
  200: #bdc7cc,
  300: #a0b0b8,
  400: #899ea8,
  500: #738d98,
  600: #667d87,
  700: #566870,
  800: #48555b,
  900: #363f43,
  // ... continues to 900
  contrast: (
    600: rgba(0,0,0, 0.57)
  )
)
