@use '@angular/material' as mat;
@use "palettes" as pal;
@use 'styles.theme' as thm;
@use 'src/app/shared/navbar/navbar.component.theme' as navbar;
@use "src/app/surveys/survey-configure/survey-configure.component.theme" as survey-configure;

@include mat.core();

$custom-primary: mat.define-palette(pal.$custom-blue, 600);
$custom-accent: mat.define-palette(pal.$custom-gray, 200);
$custom-warn: mat.define-palette(mat.$red-palette);

$custom-typography: mat.define-typography-config(
  $font-family: 'Inter',
  $button: mat.define-typography-level(14px, 14px, 700)
);
$custom-theme: mat.define-light-theme((
  color: (
    primary: $custom-primary,
    accent: $custom-accent,
    warn: $custom-warn
  ),
  typography: $custom-typography
));

@include mat.all-component-themes($custom-theme);
@include navbar.theme($custom-theme);
@include thm.theme($custom-theme);
@include survey-configure.theme($custom-theme);

html,
body {
  height: 100%;
}

body {
  margin: 0
}

app-navbar {
  .search-bar {
    .mat-form-field-underline::before,
    span.mat-form-field-ripple {
      display: none;
    }

    div.mat-form-field-flex {
      border-radius: 10px;
    }

    .mat-form-field-wrapper {
      padding-bottom: 0;

      .mat-form-field-flex {
        align-items: center;
        padding: 0 0.75em 0 0.75em;
        height: 61px;
      }
    }
  }
}

app-survey-create {
  .mat-horizontal-stepper-header-container,
  .mat-horizontal-content-container {
    padding-left: 65px;
    padding-right: 65px;
  }

  .mat-horizontal-stepper-header-container {
    .mat-horizontal-stepper-header {
      padding-left: 0;
      padding-right: 0;
      .mat-step-label{
        line-height: 16.94px;
      }
    }
  }
}
