@use "sass:map";
@use "../node_modules/@angular/material/index" as mat;

@mixin color($theme) {
  $color-config: mat.get-color-config($theme);
  $primary-color: map.get($color-config, 'primary');
  $accent-color: map.get($color-config, 'accent');

  app-navbar {
    .search-bar {
      div.mat-form-field-flex {
        background-color: mat.get-color-from-palette($accent-color);
        border-color: mat.get-color-from-palette($primary-color);
      }
    }
  }

  app-survey-create {
    .mat-horizontal-stepper-header-container {
      .mat-horizontal-stepper-header {
        .mat-step-label {
          color: mat.get-color-from-palette($primary-color);
        }
      }
    }
  }

  app-dropdown {
    .mat-form-field-wrapper {
      .mat-form-field-flex {
        background-color: mat.get-color-from-palette($accent-color);
        border-color: mat.get-color-from-palette($primary-color);
      }
    }
    .mat-select-arrow{
      color: mat.get-color-from-palette($primary-color);
    }
  }
}

@mixin theme($theme) {
  $color-config: mat.get-color-config($theme);
  @if $color-config != null {
    @include color($theme);
  }
}
