<ng-container *ngIf="item">
  <ng-container *ngIf="!multipleChoice && control">
    <mat-radio-group
      class="cc-flex cc-column cc-align-start cc-gap-20"
      [formControl]="control"
      (change)="sendResponse()"
    >
      <mat-radio-button *ngFor="let option of item.options" [value]="option.id">{{option.content}}</mat-radio-button>
    </mat-radio-group>
  </ng-container>
  <ng-container *ngIf="multipleChoice && array">
    <section class="cc-flex cc-column cc-align-start cc-gap-20">
      <ng-container *ngFor="let control of getCheckboxControls(); let i = index">
        <mat-checkbox
          color="primary"
          [formControl]="control"
          (change)="sendMultipleResponse(item.options[i].id, i)"
        >
          {{item.options[i].content}}
        </mat-checkbox>
      </ng-container>
    </section>
  </ng-container>
</ng-container>
